body{
    background-color: #ffe6ff;
}
.btn{
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(207, 159, 252);
    color: #fff;
}