*{
    font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffe6ff;
    margin: 0;
    padding: 0;
}
.btn{
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(207, 159, 252);
    color: #fff;
    min-width: 150px;
    border-radius: 10px;
    outline: none;
}
.input-box{
    display: block;
    font-size: 15px;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    margin: 0px auto;
   }