.form{
    background-color: hsl(220deg 8.91% 19.8%); 
    height: auto;
    width: fit-content;
    padding:30px 100px;
    margin: 2rem auto;
    border-radius: 10px;
    position: relative;
 }
 label{
    color: white;
}

.form-control{
    margin: 20px 0;
}
.login-btn{
    display: block;
    margin: 10px auto;
}
.create-new-user{
   font-size: 14px;
   color: #fff;
   text-align: right;
   position: absolute;
   right: 10px;
   padding: 5px 10px;
}